<mat-card class="example-card">
    <button mat-raised-button id="x" (click)="removeStockFromList()">
        X
    </button>
    <div>
        <div>
            <h3>{{ stock.StockName }} ( {{ stock.Symbol }})</h3>
            <div class="row">
                <div class="column .stock-info">
                    <div>Change : {{ stock.Change}}%</div>
                    <div>Opening Price : {{ stock.OpenPriceOfTheDay | currency}}</div>
                </div>
                <div class="column stock-info">
                    <div>Current Price : {{ stock.CurrentPrice | currency}}</div>
                    <div>Change : {{ stock.HighPriceOfTheDay | currency}}</div> 
                </div>
                <div class="column">
                    <span *ngIf="stock.Change < 0">
                        <span class="downArrow">&#11015;</span>
                    </span>
                    <span *ngIf="stock.Change > 0">
                        <span class="upArrow">&#11014;</span>
                    </span>
            
                </div>
            </div>
        </div>
        
    </div>
    <br />
    <div>
        <button mat-raised-button [routerLink]="['/sentiment', stock.Symbol]">Go to social sentiment details ></button>
    </div>
</mat-card>